.project {
    margin-left: 40px;
    /* background-color: #000014; */
    color: white;
    min-height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */


}
.project__box{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.project__title {
    text-align: center;
    margin: 0 auto;
    padding: 20px;

}
